{% sw_extends '@Framework/documents/base.html.twig' %}

    {% block document_sum_shipping_costs %}
    {% endblock %}

    {% block document_line_items %}
        <table class="line-item-table">
            <thead>
            <tr class="line-item-table-header">
                {% block document_line_item_table_head %}
                    {% block document_line_item_table_head_position %}
                        {% if config.displayLineItemPosition %}
                            <th>{{ 'document.lineItems.header.position'|trans|sw_sanitize }}</th>
                        {% endif %}
                    {% endblock %}

                    {% block document_line_item_table_head_product_number %}
                        <th>{{ 'document.lineItems.header.productNumber'|trans|sw_sanitize  }}</th>
                    {% endblock %}

                    {% block document_line_item_table_head_label %}
                        <th>{{ 'document.lineItems.header.label'|trans|sw_sanitize }}</th>
                    {% endblock %}

                    {% block document_line_item_table_head_quantity %}
                        <th class="numbers">{{ 'document.lineItems.header.quantity'|trans|sw_sanitize }}</th>
                    {% endblock %}

                    {% block document_line_item_table_head_prices %}
                        {% if config.displayPrices %}
                            {% block document_line_item_table_head_tax_rate %}
                                <th class="numbers">{{ 'document.lineItems.header.tax'|trans|sw_sanitize }}</th>
                            {% endblock %}
                            {% block document_line_item_table_head_unit_price %}
                                <th class="numbers">{{ 'document.lineItems.header.unitPrice'|trans|sw_sanitize }}</th>
                            {% endblock %}
                            {% block document_line_item_table_head_total_price %}
                                <th class="numbers">{{ 'document.lineItems.header.total'|trans|sw_sanitize }}</th>
                            {% endblock %}
                        {% endif %}
                    {% endblock %}
                {% endblock %}
            </tr>
            </thead>

            {# @var lineItem \Shopware\Core\Checkout\Order\Aggregate\OrderLineItem\OrderLineItemEntity #}
            {% for lineItem in lineItemPage %}
                <tr class="line-item{% if loop.first %} first{% endif %}">
                    {% block document_line_item_table_rows %}
                        {% block document_line_item_table_row_position %}
                            {% if config.displayLineItemPosition %}
                                <td>{{ loop.index }}</td>
                            {% endif %}
                        {% endblock %}

                        {% block document_line_item_table_row_product_number %}
                            {% if lineItem.payload.productNumber %}
                                <td>{{ lineItem.payload.productNumber | u.truncate(10) }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endblock %}

                        {% block document_line_item_table_row_label %}
                            <td class="line-item-breakable">{{ lineItem.label }}</td>
                        {% endblock %}

                        {% block document_line_item_table_row_quantity %}
                            <td class="align-right">{{ lineItem.quantity }}</td>
                        {% endblock %}

                        {% block document_line_item_table_prices %}
                            {% if config.displayPrices %}
                                {% block document_line_item_table_row_tax_rate %}
                                    <td class="align-right">{{ lineItem.price.taxRules.first.taxRate }}%</td>
                                {% endblock %}
                                {% block document_line_item_row_table_unit_price %}
                                    <td class="align-right">{{ lineItem.unitPrice|currency(currencyIsoCode) }}</td>
                                {% endblock %}
                                {% block document_line_item_table_row_total_price %}
                                    <td class="align-right">{{ lineItem.totalPrice|currency(currencyIsoCode) }}</td>
                                {% endblock %}
                            {% endif %}
                        {% endblock %}
                    {% endblock %}
                </tr>
            {% endfor %}
            {% if loop.last == true %}
                <tr class="line-item">
                        <td>{{ 'checkout.shippingCosts'|trans|sw_sanitize }}</td>
                        <td class="line-item-breakable">{{ order.deliveries.first.shippingMethod.name }}</td>
                        <td class="align-right">1</td>
                        <td class="align-right">{% for tax in order.deliveries.first.shippingCosts.calculatedTaxes %}{{ tax.taxRate }}%{% if loop.last %}{% else %}<br>{% endif %}{% endfor %}</td>
                        <td class="align-right">{{ order.deliveries.first.shippingCosts.unitPrice|currency(currencyIsoCode) }}</td>
                        <td class="align-right">{{ order.deliveries.first.shippingCosts.totalPrice|currency(currencyIsoCode) }}</td>
                </tr>
            {% endif %}
        </table>
    {% endblock %}

    {% block document_footer %}
    {% endblock %}

    {% block document_sender_address %}
    {% endblock %}

    {% block document_payment %}
        {{ 'document.paymentShippingInfo.paymentMethod'|trans({'%paymentMethod%': order.transactions.first.paymentMethod.name})|sw_sanitize }}<br>
    {% endblock %}
    {% block document_shipping %}
        {{ 'document.paymentShippingInfo.shippingMethod'|trans({'%shippingMethod%': order.deliveries.first.shippingMethod.name})|sw_sanitize }}<br><br><br>
    {% endblock %}

    {% block document_payment_shipping_additional %}
        <b>{{ 'checkout.shippingAddressHeader'|trans|sw_sanitize }}</b>:<br><br>
        {% set shippingAddress = order.addresses.get(order.deliveries.first.shippingOrderAddressId) %}

        {{ customer.salutation.letterName }} {{ shippingAddress.firstName }} {{ shippingAddress.lastName }}<br>
        {{ shippingAddress.street }}<br>
        {{ shippingAddress.zipcode }} {{ shippingAddress.city }}<br>
        {{ shippingAddress.country.name }}<br>
    {% endblock %}
